In [1]:
a <- c(1,2,3,4,5)

In [2]:
a

[1] 1 2 3 4 5

In [3]:
names(a) <- c('a','b','c','d','e')

In [4]:
a

a b c d e
1 2 3 4 5

In [11]:
c <- c(1,2,3)
d <- c(4,5,6)
mat <- matrix(c(c,d), ncol = 3)

In [12]:
mat

     [,1] [,2] [,3]
[1,] 1    3    5
[2,] 2    4    6

In [13]:
rownames(mat) <- c('x','y')
colnames(mat) <- c('p','q','r')
mat

  p q r
x 1 3 5
y 2 4 6

In [15]:
rbind(mat,a)

Warning message in rbind(mat, a):
“number of columns of result is not a multiple of vector length (arg 2)”

  p q r
x 1 3 5
y 2 4 6
a 1 2 3

In [16]:
mat

  p q r
x 1 3 5
y 2 4 6

In [17]:
mat[1,2]

[1] 3

In [19]:
mat[,'p']

x y
1 2

In [20]:
2 * mat

  p q r
x 2 6 10
y 4 8 12

In [21]:
mat

  p q r
x 1 3 5
y 2 4 6

In [22]:
mat = 2*mat

In [23]:
mat

  p q r
x 2 6 10
y 4 8 12

In [25]:
#data Frame
var1 <- c(11,22,33,44)
var2 <- c('Mayur','Dhana','Soni','Dhanta')
var3 <- c(555,NA,777,222)
df1 <- data.frame(var1,var2,var3)
df1

  var1 var2   var3
1 11   Mayur  555
2 22   Dhana   NA
3 33   Soni   777
4 44   Dhanta 222

In [29]:
df1[1,2]

[1] Mayur
Levels: Dhana Dhanta Mayur Soni

In [31]:
df1[1:2,1:3]

  var1 var2  var3
1 11   Mayur 555
2 22   Dhana  NA

In [32]:
df1[1:2,'var2']

[1] Mayur Dhana
Levels: Dhana Dhanta Mayur Soni

In [51]:
df1[1:2,df1$var2]

ERROR: Error in `[.data.frame`(df1, 1:2, df1$var2): undefined columns selected

In [36]:
subset(df1,subset = var1 > 22)

  var1 var2   var3
3 33   Soni   777
4 44   Dhanta 222

In [39]:
subset(df1,subset = var1 > 22, select = var2)

  var2
3 Soni
4 Dhanta

In [40]:
order(df1)

 [1]  1  2 12  3  4  9 11  6  8  5  7 10

In [43]:
order(df1['var1'])

[1] 1 2 3 4

In [46]:
l1 <- list(2,3,4,5,6,7)
my_list <- list(c(1,2,3,4,5),"ABC","XYZ", c('A','C'), l1)
my_list

[[1]]
[1] 1 2 3 4 5

[[2]]
[1] "ABC"

[[3]]
[1] "XYZ"

[[4]]
[1] "A" "C"

[[5]]
[[5]][[1]]
[1] 2

[[5]][[2]]
[1] 3

[[5]][[3]]
[1] 4

[[5]][[4]]
[1] 5

[[5]][[5]]
[1] 6

[[5]][[6]]
[1] 7

In [48]:
names(my_list) <- c(1,2,3,4,5)

In [49]:
my_list

$`1`
[1] 1 2 3 4 5

$`2`
[1] "ABC"

$`3`
[1] "XYZ"

$`4`
[1] "A" "C"

$`5`
$`5`[[1]]
[1] 2

$`5`[[2]]
[1] 3

$`5`[[3]]
[1] 4

$`5`[[4]]
[1] 5

$`5`[[5]]
[1] 6

$`5`[[6]]
[1] 7

In [53]:
my_list[[2]]

[1] "ABC"

In [55]:
my_list$'4'

[1] "A" "C"

In [58]:
for (var in my_list){
    print(var)
}

[1] 1 2 3 4 5
[1] "ABC"
[1] "XYZ"
[1] "A" "C"
[[1]]
[1] 2

[[2]]
[1] 3

[[3]]
[1] 4

[[4]]
[1] 5

[[5]]
[1] 6

[[6]]
[1] 7

In [59]:
for(v in 1:nrow(mat)){
    print(v)
}

[1] 1
[1] 2

In [60]:
for(v in 1:col(mat)){
    print(v)
}

Warning message in 1:col(mat):
“numerical expression has 6 elements: only the first used”

[1] 1

In [61]:
vec <- c(9,8,7,6,5,4,3,2,1,0)
for(i in vec){
    print(i)
}

[1] 9
[1] 8
[1] 7
[1] 6
[1] 5
[1] 4
[1] 3
[1] 2
[1] 1
[1] 0

In [62]:
while(vec < 5){
    print(vec)
}

Warning message in while (vec < 5) {:
“the condition has length > 1 and only the first element will be used”

In [63]:
#nested functions
mean(sum(1:10))

[1] 55

In [65]:
seq <- 1:9
seq

[1] 1 2 3 4 5 6 7 8 9

In [67]:
squ <- function(x){
    return(x*x)
}
squ(2)

[1] 4

In [68]:
da <- 1:5

In [70]:
l2 <- lapply(da, squ) # output is always a list
l2

[[1]]
[1] 1

[[2]]
[1] 4

[[3]]
[1] 9

[[4]]
[1] 16

[[5]]
[1] 25

In [71]:
l2[3]

[[1]]
[1] 9

In [72]:
#lapply with annonymous function
lapply(da, function(x) {x*x*x})

[[1]]
[1] 1

[[2]]
[1] 8

[[3]]
[1] 27

[[4]]
[1] 64

[[5]]
[1] 125

In [75]:
#O/P is Array
#O/P depends upon I/P type. Try to simplyfy list to array
A <- sapply(da, function(x) {2*x})
A

[1]  2  4  6  8 10

In [76]:
A[2]

[1] 4

In [78]:
#apply function over list or vector explicitly. Specify O/P data format
va <- vapply(X = da, squ, numeric(1))
va

[1]  1  4  9 16 25

In [79]:
seq(da)

[1] 1 2 3 4 5

In [80]:
append(da, c(10,11,12,13))

[1]  1  2  3  4  5 10 11 12 13

In [85]:
typeof(a<- 5)

[1] "double"

In [86]:
typeof(da)

[1] "integer"

In [87]:
typeof(my_list)

[1] "list"

In [88]:
l3 <- list(516,777,469)

In [89]:
l3

[[1]]
[1] 516

[[2]]
[1] 777

[[3]]
[1] 469

In [91]:
u <- unlist(l3) 
u

[1] 516 777 469

In [92]:
typeof(u)

[1] "double"

In [96]:
g <- c(2,4,6,9)

In [97]:
g

[1] 2 4 6 9

In [99]:
as.character(g)

[1] "2" "4" "6" "9"